:root{
    --white:hsl(0, 100%, 100%);
    --background:hsl(0, 0%, 99%);
    --text:hsl(200, 15%, 8%);     /*for input fields */
    --element: var(--white); /*html elements except input field */
}

.dark-mode  {
   
    /* border: 1px solid var(--dark-mode-elment); */
    --background:hsl(207, 26%, 17%);
    --text:var(--white);
    --element:hsl(209, 23%, 22%);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    margin: 2rem;;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main {
    /* background-color: var(--light-mode-background); */
    /* color: var(--light-mode-text); */
    /* border: 1px solid var(--lig-mode-elment); */
}
#searchFilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem; */
    flex-wrap: wrap;
    gap:2rem;
}

#countries {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
}

.card {
    /* display: block; */
    box-sizing: border-box;
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: var( --dark-mode-text-light-mode-element);
    border:1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    /*image grow upto 100% of its parent's width, not beyond that. */
    height: auto;
    cursor: pointer;
    
}

.search-container{
    position:relative;
}

.search-container >i {
    position: absolute;
    left: 10rem;
}

.country-details-container{
    display: flex;
    justify-content: space-around;
     flex-wrap: wrap;
}

.country-details-container > img{
    width:30rem;
   
}

.country-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    margin: 0.5rem;
}

.border-countries{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    gap:1rem;
}

.iitems-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

button{
    cursor: pointer;
    padding:0.7rem;
    border-radius: 3px;
    border:1px solid #ccc;
}